RewriteEngine On
RewriteCond %{SERVER_PORT} 80
  RewriteRule "(.*\.(jpg|gif|png|svg|js|css))$" "http://localhost:3008/$1" [P,NC]

RewriteCond %{REQUEST_URI} ^/index [NC]
  RewriteRule ^(.*) "http\:\/\/localhost:3008\/" [P,L]

RewriteCond %{REQUEST_URI} !^/index [NC]
  RewriteRule ^(.*) "http\:\/\/localhost:3008\/$1" [P,L]
